asn1crypto==0.24.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.1
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
urllib3==1.25.3
Werkzeug==0.15.5
