{% extends "layout.html" %}
{% block content %}
    <br><h1>Privacy Policy</h1><br>
    <p style="font-size:120%;">In summary, this website does not collect or share any personal information.</p>
    <p style="font-size:120%;">This website does not store its visitors' IP addresses or record the websites they copy and download.</p>
    <p style="font-size:120%;">Since it is not the purpose of this website to track the people who want to download websites, this website lacks a database to keep any kind of data whatsoever.</p>
    <p style="font-size:120%;">This website does not contain advertisements or work with third parties that collect or share personal information.</p>
    <p style="font-size:120%;">The only personal information the visitors might give out are ones typed down when they voluntarily contact the website's owner through the website's <a href="/contact">Contact Form</a>, which will not be published without the visitors' consents.</p><br><br>

    <p style="font-size:120%;">If you have any questions or comments, please use the website's <a href="/contact">Contact Form</a>.</p>
    <p style="font-size:120%;">Effective date: August 31, 2019</p>
{% endblock content %}
